* {
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
list-style: none;
}
.header{
 display: flexbox;
 align-items: center;
 height: 70vh;
 min-height: 1px;
}
.container {
 max-width: 1980px;
 margin: 0 auto;
}
.menu{
 position: relative;
 top: 30px;
 left: 0;
 right: 0;
 display: flex;
 align-items: center;
 justify-content: space-between;
}
.logo {
 font-weight: 800;
 font-size: 45px;
 color: rgb(249, 59, 154);
 text-transform: uppercase;
}
.menu .navbar ul li {
 position: relative;
 float: left;
}
.menu .navbar ul li a {
font-size: 17px;
font-weight: 600;
padding: 20px;
color: darkgray;
display: block;
text-transform: uppercase;
}
.menu .navbar ul li a:hover{
 color: black;
}
#menu{
 display: none;
}
.menu-icono{
width: 25px;
}
.menu label {
 cursor: pointer;
 display: none;
}
.header-content {
 margin-top: 100px;
 display: flex;
 padding:150px;
 background-color: aliceblue;
 border-radius: 25px;

}
.header-txt {
width: 50%;
}
.header-txt h1{
 font-size: 150px;
 line-height: 170px;
 color: midnightblue;
 text-transform: capitalize;
 font-weight: 800;
 margin-bottom: 35px;
}
.header-txt p {
 font-size: 60px;
 color: rgb(117, 96, 96);
 margin-bottom: 45px ;
}

.btn-1{
 display: inline-block;
 padding: 13px 25px;
 background-color: rgb(206, 109, 109);
 font-size: 40px;
 color: aliceblue;
 border-radius: 15px;
 text-transform: capitalize;
 box-shadow: 0 0 15px;
}
.btn-1:hover{
 background-color: blue;
}
.header-img{
width: 50%;
text-align: center;
}
.header-img img{
 width: 900px;
}
.general {
 padding: 300px 0;
 display: flex;
}
.general-1{
 width: 90%;
 display: flex;
}
.general-card {
 padding: 20px;
 text-align: center;
 margin: 0 40px;
 border-radius: 25px;
 box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
 }
.general-card img {
 width: 60px;
 margin-bottom: 25px;
}
.general-card h3{
 font-size: 30px;
 color: navy;
 margin-bottom: 20px;
}
.general-card p {
 font-size: 25px;
 color: grey;
 text-align: justify;
}
.general-2{
 width: 200%;
 margin: 0 35px;
 text-align: justify;
}
h2{
 font-size: 40px;
 line-height: 50px;
 color: navy;
 margin-bottom: 20px;
}
.general-2 p {
 font-size: 32px;
 color: grey;
 margin-bottom: 40px;
 display: flex;
}
.btn-2 {
 display: inline-block;
 padding: 13px 25px;
 background-color: rgb(206, 109, 109);
 font-size: 40px;
 color: aliceblue;
 border-radius: 15px;
 text-transform: capitalize;
 box-shadow: 0 0 15px;
}
.btn-2:hover{
 background-color: blue;
}
.i-1{
 width: 800px;
 height: 400px;
 background-image: url(images/i1.jpg);
 background-repeat: no-repeat;
 background-position: center center;
 background-size: cover;
}
.i-2{
 width: 800px;
 height: 400px;
 background-image: url(images/i2.jpg);
 background-position: center center;
 background-repeat: no-repeat;
 background-size: cover;
}
.i-3{
 width: 800px;
 height: 400px;
 background-image: url(images/i3.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 }
.information {
 padding: 100px 0;
 background-color: #F5F9FC;
 text-align: center;
}
.information-content {
 margin-top: 70px;
 display: flex;
}
.information-1{
 margin: 0 25px;
}
.information-1 h3{
 text-transform: capitalize;
 font-size: 25px;
 color: navy;
 margin-bottom: 25px;
}
.information-1 p {
 font-size: 30px;
 color: grey;
 margin-bottom: 35px;
 margin-left: 45px;
}
.footer{
 padding: 50px 0;
 display: flex;
 align-items: center;
 justify-content: space-between;
 }
.footer-txt{
 padding-right: 500px;
}
.footer-txt p{
 font-size: 20px;
 color: grey;
 margin-top: 25px;
}
.footer-social{
display: flex;
}
.footer-social img{
 margin: 0 15px;
 width: 30px;
 height: 30px;
} 